---
output-file: 1-population.html
title: 1-population

---

# 1 - population

Population characteristics of the Human Phenotype Project study participants including birth month and year, sex and visits information.

The information is stored in 2 parquet files:

- population.parquet - contains sex, month and year of birth per participant
- events.parquet - also contains information regarding participant visits and calls

In [1]:
#| hide
import pandas as pd
pd.set_option('display.max_rows', 500)

In [2]:
from pheno_utils import PhenoLoader

In [3]:
dl = PhenoLoader('population', age_sex_dataset=None)
dl

DataLoader for population with
10 fields
1 tables: ['events']

In [4]:
dl.dict

,field_string,description_string,parent_dataframe,relative_location,value_type,units,sampling_rate,item_type,array,cohorts,data_type,debut,pandas_dtype
tabular_field_name,,,,,,,,,,,,,
month_of_birth,Month of birth,Month of birth,NaN,events.parquet,Integer,None,NaN,Data,No,10K,Tabular,2019-01-01,int
year_of_birth,Year of birth,Year of birth,NaN,events.parquet,Integer,None,NaN,Data,No,10K,Tabular,2019-01-01,int
sex,Sex,Sex,NaN,events.parquet,Categorical (single),None,NaN,Data,No,10K,Tabular,2019-01-01,category
research_stage_type,Research stage type,The type of the research stage,NaN,events.parquet,Categorical (multiple),None,NaN,Data,No,10K,Tabular,2019-01-01,category
visit_center,Visit center,The name of the assessment center,NaN,events.parquet,Categorical (multiple),None,NaN,Data,No,10K,Tabular,2019-01-01,category
research_stage_timestamp,Timestamp of research stage,The timestamp of the research stage. For examp...,NaN,events.parquet,Date,None,NaN,Data,No,10K,Tabular,2019-01-01,"datetime64[ns, Asia/Jerusalem]"
research_stage_date,Date of research stage,"The date of the research stage. For example, i...",NaN,events.parquet,Date,None,NaN,Data,No,10K,Tabular,2019-01-01,datetime64[ns]
age_at_research_stage,Age at research stage,The age of the participant during the research...,NaN,events.parquet,Integer,None,NaN,Data,No,10K,Tabular,2019-01-01,float
study_id,Study ID,The study identifier,NaN,events.parquet,Categorical (multiple),None,NaN,Data,No,10K,Tabular,2019-01-01,category
timezone,Timezone,Timezone,NaN,events.parquet,Date,None,NaN,Data,No,10K,Tabular,2019-01-01,string