---
output-file: 0-population.html
title: 0-population
---

# Population characteristics dataset  

Population characteristics of the Human Phenotype Project study participants including birth month and year, sex and study id.

### Data availability:

- population.parquet - contains sex, month and year of birth per participant

In [1]:
#| echo: false
import pandas as pd
pd.set_option("display.max_rows", 500)

In [2]:
from pheno_utils import PhenoLoader

In [3]:
dl = PhenoLoader('population')
dl

DataLoader for population with
4 fields
1 tables: ['population']

# Data dictionary

In [4]:
dl.dict

,field_string,description_string,parent_dataframe,relative_location,value_type,units,sampling_rate,item_type,array,cohorts,data_type,debut,pandas_dtype
tabular_field_name,,,,,,,,,,,,,
month_of_birth,Month of birth,Month of birth,NaN,/population/population.parquet,Integer,None,NaN,Data,No,10K,Tabular,2019-01-01,int
year_of_birth,Year of birth,Year of birth,NaN,/population/population.parquet,Integer,None,NaN,Data,No,10K,Tabular,2019-01-01,int
sex,Sex,Sex,NaN,/population/population.parquet,Categorical (single),None,NaN,Data,No,10K,Tabular,2019-01-01,category
study_id,Study ID,The study identifier,NaN,/population/population.parquet,Categorical (multiple),None,NaN,Data,No,10K,Tabular,2019-01-01,category