---
output-file: 000-population.html
title: 000-population
---

# Population characteristics dataset  

Population characteristics of the Human Phenotype Project study participants including birth month and year, sex and study id.

### Data availability:

- Information about sex, study_id, and month and year of birth per participant: `population.parquet`

In [1]:
#| echo: false
import pandas as pd
pd.set_option("display.max_rows", 500)

In [2]:
from pheno_utils import PhenoLoader

In [3]:
pl = PhenoLoader('population')
pl

PhenoLoader for population with
4 fields
1 tables: ['population']

# Data dictionary

In [4]:
pl.dict

,field_string,description_string,folder_id,feature_set,field_type,strata,data_coding,array,pandas_dtype,bulk_file_extension,relative_location,units,bulk_dictionary,sampling_rate,transformation,list_of_tags,stability,sexed,debut,completed
tabular_field_name,,,,,,,,,,,,,,,,,,,,
month_of_birth,Month of birth,Month of birth,1,population,Categorical (single),Primary,042_03,Single,category,NaN,population/population.parquet,NaN,NaN,NaN,NaN,NaN,Accruing,Both sexes,2019-01-01,NaN
year_of_birth,Year of birth,Year of birth,1,population,Integer,Primary,NaN,Single,int,NaN,population/population.parquet,NaN,NaN,NaN,NaN,NaN,Accruing,Both sexes,2019-01-01,NaN
sex,Sex,Sex,1,population,Categorical (single),Primary,9,Single,category,NaN,population/population.parquet,NaN,NaN,NaN,NaN,NaN,Accruing,Both sexes,2019-01-01,NaN
study_id,Study ID,The study identifier,1,population,Categorical (single),Auxiliary,000_01,Single,category,NaN,population/population.parquet,NaN,NaN,NaN,NaN,NaN,Accruing,Both sexes,2019-01-01,NaN