---
output-file: 000-population.html
title: 000-population
---

# Population characteristics dataset  

Population characteristics of the Human Phenotype Project study participants including birth month and year, sex and study id.

### Data availability:

- population.parquet - contains sex, month and year of birth per participant

In [1]:
#| echo: false
import pandas as pd
pd.set_option("display.max_rows", 500)

In [2]:
from pheno_utils import PhenoLoader

In [3]:
dl = PhenoLoader('population')
dl

DataLoader for population with
4 fields
1 tables: ['population']

# Data dictionary

In [4]:
dl.dict

,field_string,description_string,relative_location,value_type,units,sampling_rate,item_type,array,cohorts,data_type,debut,pandas_dtype,parent_dataframe,data_coding
tabular_field_name,,,,,,,,,,,,,,
month_of_birth,Month of birth,Month of birth,population/population.parquet,Integer,NaN,NaN,Data,No,10K,Tabular,2019-01-01,int,NaN,NaN
year_of_birth,Year of birth,Year of birth,population/population.parquet,Integer,NaN,NaN,Data,No,10K,Tabular,2019-01-01,int,NaN,NaN
sex,Sex,Sex,population/population.parquet,Categorical (single),NaN,NaN,Data,No,10K,Tabular,2019-01-01,int,NaN,9.0
study_id,Study ID,The study identifier,population/population.parquet,Categorical (multiple),NaN,NaN,Data,No,10K,Tabular,2019-01-01,int,NaN,1000.0