---
output-file: 5-diet_logging.html
title: 5-diet_logging
---

# Diet logging dataset  

Diet logging using a smartphone app involves collecting data on food and drink consumption through a mobile application. These data include information such as types of food, serving sizes, nutritional information and the times of consumption. The data is used to track dietary habits and can be used in scientific research to gain insights into the dietary habits of a population and to correlate to other temporal measurements and events.

### Data availability:
The information is stored in 2 parquet file: `diet_logging.parquet`, `raw_diet_logging.parquet` which contain the processed and raw diet logging data respectively.

In [ ]:
#| echo: false
import pandas as pd
pd.set_option("display.max_rows", 500)

In [ ]:
from pheno_utils import PhenoLoader

In [5]:
dl = PhenoLoader('diet_logging', age_sex_dataset=None)

/home/jovyan/projects/pheno-utils_new/pheno_utils/pheno_loader.py:404: UserWarning: Error loading s3://pheno-master-data-collection-v1-prod-us-east-1/diet_logging/:
Error creating dataset. Could not read schema from 'pheno-master-data-collection-v1-prod-us-east-1/diet_logging/diet_logging_data_dictionary.csv': Could not open Parquet input source 'pheno-master-data-collection-v1-prod-us-east-1/diet_logging/diet_logging_data_dictionary.csv': Parquet magic bytes not found in footer. Either the file is corrupted or this is not a parquet file.. Is this a 'parquet' file?
  warnings.warn(f'Error loading {df_path}:\n{err}')

# Data dictionary

In [6]:
dl.dict.head()

,field_string,description_string,parent_dataframe,relative_location,value_type,units,sampling_rate,item_type,array,cohorts,data_type,debut,pandas_dtype
tabular_field_name,,,,,,,,,,,,,
collection_timestamp,Collection timestamp,Collection timestamp,NaN,diet_logging.parquet,Time,Time,NaN,Data,Single,10K,Time Series,2019-01-29,"datetime64[ns, Asia/Jerusalem]"
collection_date,Date,Datetime column relecting the time food item w...,NaN,diet_logging.parquet,Time,Time,NaN,Data,Single,10K,Time Series,2019-09-01,datetime64[ns]
logging_day,Logging day per participant,Integer indicating which day of logging period,NaN,diet_logging_events.parquet,Integer,None,NaN,Data,Single,10K,Time Series,2019-09-01,float
total_logging_days,Total number of days logged,Total number of days diet was logged per resea...,NaN,diet_logging.parquet,Integer,None,NaN,Data,Single,10K,Time Series,2019-09-01,int
timezone,Timezone,Timezone,NaN,diet_logging.parquet,Text,None,NaN,Data,Single,10K,Time Series,2019-09-01,string