---
output-file: 8-serum_lipidomics.html
title: 8-serum_lipidomics
---

# Serum lipidomics dataset  

High throughput untargeted lipidomics in serum by Ultra-High-Performance Liquid Chromatography Electrospray ionization High-resolution mass spectrometry (UHPLC-ESI-HRMS).

The serum metabolome is known to represent a variety of environmental, genetic and other endogenous factors (Bar et al. 2020). Lipidomics is a subfield of metabolomics, which is defined as the study of pathways and networks of cellular lipids in biological systems. Lipids perform various functions within the body, from structural components of cell membranes, to energy reserve and regulating hormones. These pivotal functions highlight circulating lipids as playing a key role in a number of age-related diseases such as cardiovascular disease and stroke (Holmes et al. 2018; Michos et al. 2019). 

### Data availability:
The information is stored in 1 parquet file: `serum_lipidomics.parquet`

In [ ]:
#| echo: false
import pandas as pd
pd.set_option("display.max_rows", 500)

In [ ]:
from pheno_utils import PhenoLoader

In [2]:
dl = PhenoLoader('serum_lipidomics')
dl

DataLoader for serum_lipidomics with
202 fields
2 tables: ['serum_lipidomics', 'age_sex']

# Data dictionary

In [3]:
dl.dict

,field_string,description_string,parent_dataframe,relative_location,value_type,units,sampling_rate,item_type,array,cohorts,data_type,debut,pandas_dtype
tabular_field_name,,,,,,,,,,,,,
collection_date,Collection date (YYYY-MM-DD),NaN,NaN,/serum_lipidomics/serum_lipidomics.parquet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,datetime64[ns]
collection_timestamp,Collection timestamp,NaN,NaN,/serum_lipidomics/serum_lipidomics.parquet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"datetime64[ns, Asia/Jerusalem]"
timezone,Timezone,NaN,NaN,/serum_lipidomics/serum_lipidomics.parquet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string
22:6_cholesteryl_ester,22:6 Cholesteryl Ester,NaN,NaN,/serum_lipidomics/serum_lipidomics.parquet,Continuous,Intensity (log10),NaN,Data,No,10K,Tabular,2019-02-19,float
acca_c10:0,AcCa C10:0,NaN,NaN,/serum_lipidomics/serum_lipidomics.parquet,Continuous,Intensity (log10),NaN,Data,No,10K,Tabular,2019-02-19,float
...,...,...,...,...,...,...,...,...,...,...,...,...,...
lysopc_22:6,lysoPC 22:6,NaN,NaN,/serum_lipidomics/serum_lipidomics.parquet,Continuous,Intensity (log10),NaN,Data,No,10K,Tabular,2019-02-19,float
lysope_16:0,lysoPE 16:0,NaN,NaN,/serum_lipidomics/serum_lipidomics.parquet,Continuous,Intensity (log10),NaN,Data,No,10K,Tabular,2019-02-19,float
lysope_18:0,lysoPE 18:0,NaN,NaN,/serum_lipidomics/serum_lipidomics.parquet,Continuous,Intensity (log10),NaN,Data,No,10K,Tabular,2019-02-19,float
lysope_18:1,lysoPE 18:1,NaN,NaN,/serum_lipidomics/serum_lipidomics.parquet,Continuous,Intensity (log10),NaN,Data,No,10K,Tabular,2019-02-19,float
lysope_18:2,lysoPE 18:2,NaN,NaN,/serum_lipidomics/serum_lipidomics.parquet,Continuous,Intensity (log10),NaN,Data,No,10K,Tabular,2019-02-19,float