In [1]:
import pandas as pd
import numpy as np
import dask.dataframe as dd
from collections import defaultdict
import traceback
import os
import json

In [2]:
BEFORE_2023 = True
SHOW_FEATURE_SETS = False

In [3]:
# path to datasets
ver = "v12"
# count_bucket_name = "pheno-master-data-collection-v1.2-stage-eu-west-1"
# count_bucket_name = "pheno-master-data-collection-v1-prod-eu-west-1"
# count_bucket_name = "pheno-academic-collection-v1-prod-eu-west-1"
# count_bucket_name = "pheno-academic-collection-v1-prod-us-east-1"
# count_bucket_name = "pheno-master-data-collection-v1.2-prod-eu-west-1"
count_bucket_name = "pheno-academic-collection-v1.2-prod-eu-west-1"
master_path = f"s3://{count_bucket_name}"
output_path = f's3://ds-users/mariag/data_counts/{count_bucket_name}_{ver}_before_2023_{BEFORE_2023}_show_feature_{SHOW_FEATURE_SETS}.csv'

In [4]:
# link to the google sheet
sheet_id = '1l8gf56ifdBwAptohozsdVidx9dUS-yNx2qxamYsooTw'
sheet_name = 'Sheet1'
url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"
df_feature_set = pd.read_csv(url, dtype=str).fillna(pd.NA)

    
df_feature_set[['dataset_id', 'dataset']] = df_feature_set[['dataset_id', 'dataset']].ffill()
df_feature_set_ready = df_feature_set[pd.notna(df_feature_set.status)].query('status != "Not relevant v1.2"')
df_feature_set_ready.head()

,dataset_id,dataset,feature_set,Data owner,status,pheno-big-data-prod-us-east-1_relative_path,contains_sensitive,notes,count_parquet_relative_path,count_field_name,data points,participants,first_date,last_date,dict_check,demo
0,0,population,population,Maria,DS Owner Finished for v1.2,<NA>,<NA>,<NA>,/population/population.parquet,sex,11179,11179,2018-12-05,2023-03-19,<NA>,<NA>
1,1,events,events,Maria,DS Owner Finished for v1.2,<NA>,<NA>,<NA>,/events/events.parquet,research_stage_date,23300,11179,2018-12-05,2023-03-19,<NA>,<NA>
2,2,anthropometrics,anthropometrics,Adam,DS Owner Finished for v1.2,<NA>,<NA>,<NA>,/anthropometrics/anthropometrics.parquet,bmi,13568,10781,2018-11-22,2023-02-07,<NA>,<NA>
3,3,fundus,fundus,Hagai,DS Owner Finished for v1.2,<NA>,<NA>,<NA>,/fundus/fundus.parquet,"fundus_image_left, fundus_image_right",7079,7049,2021-02-17,2022-12-04,<NA>,<NA>
4,3,fundus,microvasculature,<NA>,DS Owner Finished for v1.2,<NA>,<NA>,<NA>,/fundus/microvasculature.parquet,"vessel_density_left, vessel_density_right",7079,7049,2021-02-17,2022-12-04,<NA>,<NA>

In [5]:
# check for duplicates and remove features without parquet path or count field
print(df_feature_set_ready.shape)
df = df_feature_set_ready.query('@pd.notna(count_parquet_relative_path) and @pd.notna(count_field_name)') # in @none
print(df.shape)
df_no_dup = df.drop_duplicates(['dataset', 'feature_set', 'count_parquet_relative_path', 'count_field_name'])
print(df_no_dup.shape)

(115, 16)
(109, 16)
(109, 16)

In [42]:
count_dict = defaultdict(dict)
for index, row in df_no_dup.iterrows():
    try:
        dataset = row['dataset']
        if dataset == 'curated_phenotypes':
            continue
        feature_set = row['feature_set']
        
        #read parquet file
        full_path = f"{master_path}{row['count_parquet_relative_path']}"
        df_parquet = pd.read_parquet(full_path).reset_index()
        
        if dataset=='medications':
            row['count_field_name'] = 'medication'
        res_dict =  {
            "df_parquet_shape": df_parquet.shape[0],
            "count_field_name": row['count_field_name'],
            "count_parquet_relative_path": row['count_parquet_relative_path'],
            "particioant_id_nunique": df_parquet['participant_id'].nunique()
            }
        
        max_col = ''
        max_count = 0
        
        for col in row['count_field_name'].split(','):
            # remove white space
            col = col.strip()
            if col not in df_parquet.columns:
                print (f"ERROR: {col} not in {full_path} : {df_parquet.columns}")
                
            no_na_df = df_parquet.dropna(subset=[col]).copy()
            
            if dataset != 'events': 
                date_col = 'collection_date'
            else: 
                date_col = 'research_stage_date'
                
            if date_col not in no_na_df.columns:
                date_col = 'collection_timestamp'
            if date_col not in no_na_df.columns:
                first_date = None
                last_date = None
            else:   
                if BEFORE_2023:
                    # filter date_col before 2023-01-01
                    no_na_df[date_col] = pd.to_datetime(no_na_df[date_col])
                    no_na_df = no_na_df[no_na_df[date_col] < '2023-01-01']
                first_date = no_na_df[date_col].min() # first date
                last_date = no_na_df[date_col].max() # last date

                    
            nunique_participants_not_na = no_na_df.participant_id.nunique() # number of unique participants
            count_col_notna = no_na_df.shape[0] # number of not na entries
            
            if no_na_df.shape[0] > max_count:
                max_count = no_na_df.shape[0]
                max_col = col
                
                
            res_dict[col] = {
                "count_col_notna": count_col_notna,  
                "nunique_participants_not_na" : nunique_participants_not_na,
                "first_date": first_date,
                "last_date": last_date,
            }
        del df_parquet
        res_dict['max_col'] = max_col
        count_dict[f"{int(row['dataset_id'])}-{dataset}"][feature_set] = res_dict
        del no_na_df
        
        
    except Exception as e: 
        print(row['dataset'], full_path)
        print(traceback.format_exc())

sleep s3://pheno-academic-collection-v1.2-prod-eu-west-1/sleep/raw/sleep.parquet
Traceback (most recent call last):
  File "/tmp/ipykernel_3603/1176001438.py", line 9, in <module>
    df_parquet = pd.read_parquet(full_path).reset_index()
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pandas/io/parquet.py", line 670, in read_parquet
    return impl.read(
           ^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pandas/io/parquet.py", line 272, in read
    pa_table = self.api.parquet.read_table(
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/parquet/core.py", line 2956, in read_table
    dataset = _ParquetDatasetV2(
              ^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/parquet/core.py", line 2507, in __init__
    self._dataset = ds.dataset(path_or_paths, filesystem=filesystem,
                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 782, in dataset
    return _filesystem_dataset(source, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 465, in _filesystem_dataset
    fs, paths_or_selector = _ensure_single_source(source, filesystem)
                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 441, in _ensure_single_source
    raise FileNotFoundError(path)
FileNotFoundError: pheno-academic-collection-v1.2-prod-eu-west-1/sleep/raw/sleep.parquet

sleep s3://pheno-academic-collection-v1.2-prod-eu-west-1/sleep/raw/hrv.parquet
Traceback (most recent call last):
  File "/tmp/ipykernel_3603/1176001438.py", line 9, in <module>
    df_parquet = pd.read_parquet(full_path).reset_index()
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pandas/io/parquet.py", line 670, in read_parquet
    return impl.read(
           ^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pandas/io/parquet.py", line 272, in read
    pa_table = self.api.parquet.read_table(
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/parquet/core.py", line 2956, in read_table
    dataset = _ParquetDatasetV2(
              ^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/parquet/core.py", line 2507, in __init__
    self._dataset = ds.dataset(path_or_paths, filesystem=filesystem,
                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 782, in dataset
    return _filesystem_dataset(source, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 465, in _filesystem_dataset
    fs, paths_or_selector = _ensure_single_source(source, filesystem)
                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 441, in _ensure_single_source
    raise FileNotFoundError(path)
FileNotFoundError: pheno-academic-collection-v1.2-prod-eu-west-1/sleep/raw/hrv.parquet

curated_phenotypes s3://pheno-academic-collection-v1.2-prod-eu-west-1/curated_phenotypes/menopause.parquet
Traceback (most recent call last):
  File "/tmp/ipykernel_3603/1176001438.py", line 9, in <module>
    df_parquet = pd.read_parquet(full_path).reset_index()
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pandas/io/parquet.py", line 670, in read_parquet
    return impl.read(
           ^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pandas/io/parquet.py", line 272, in read
    pa_table = self.api.parquet.read_table(
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/parquet/core.py", line 2956, in read_table
    dataset = _ParquetDatasetV2(
              ^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/parquet/core.py", line 2507, in __init__
    self._dataset = ds.dataset(path_or_paths, filesystem=filesystem,
                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 782, in dataset
    return _filesystem_dataset(source, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 465, in _filesystem_dataset
    fs, paths_or_selector = _ensure_single_source(source, filesystem)
                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 441, in _ensure_single_source
    raise FileNotFoundError(path)
FileNotFoundError: pheno-academic-collection-v1.2-prod-eu-west-1/curated_phenotypes/menopause.parquet

curated_phenotypes s3://pheno-academic-collection-v1.2-prod-eu-west-1/curated_phenotypes/osteoporosis.parquet
Traceback (most recent call last):
  File "/tmp/ipykernel_3603/1176001438.py", line 9, in <module>
    df_parquet = pd.read_parquet(full_path).reset_index()
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pandas/io/parquet.py", line 670, in read_parquet
    return impl.read(
           ^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pandas/io/parquet.py", line 272, in read
    pa_table = self.api.parquet.read_table(
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/parquet/core.py", line 2956, in read_table
    dataset = _ParquetDatasetV2(
              ^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/parquet/core.py", line 2507, in __init__
    self._dataset = ds.dataset(path_or_paths, filesystem=filesystem,
                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 782, in dataset
    return _filesystem_dataset(source, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 465, in _filesystem_dataset
    fs, paths_or_selector = _ensure_single_source(source, filesystem)
                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 441, in _ensure_single_source
    raise FileNotFoundError(path)
FileNotFoundError: pheno-academic-collection-v1.2-prod-eu-west-1/curated_phenotypes/osteoporosis.parquet

curated_phenotypes s3://pheno-academic-collection-v1.2-prod-eu-west-1/curated_phenotypes/migraine.parquet
Traceback (most recent call last):
  File "/tmp/ipykernel_3603/1176001438.py", line 9, in <module>
    df_parquet = pd.read_parquet(full_path).reset_index()
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pandas/io/parquet.py", line 670, in read_parquet
    return impl.read(
           ^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pandas/io/parquet.py", line 272, in read
    pa_table = self.api.parquet.read_table(
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/parquet/core.py", line 2956, in read_table
    dataset = _ParquetDatasetV2(
              ^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/parquet/core.py", line 2507, in __init__
    self._dataset = ds.dataset(path_or_paths, filesystem=filesystem,
                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 782, in dataset
    return _filesystem_dataset(source, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 465, in _filesystem_dataset
    fs, paths_or_selector = _ensure_single_source(source, filesystem)
                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 441, in _ensure_single_source
    raise FileNotFoundError(path)
FileNotFoundError: pheno-academic-collection-v1.2-prod-eu-west-1/curated_phenotypes/migraine.parquet

curated_phenotypes s3://pheno-academic-collection-v1.2-prod-eu-west-1/curated_phenotypes/depression.parquet
Traceback (most recent call last):
  File "/tmp/ipykernel_3603/1176001438.py", line 9, in <module>
    df_parquet = pd.read_parquet(full_path).reset_index()
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pandas/io/parquet.py", line 670, in read_parquet
    return impl.read(
           ^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pandas/io/parquet.py", line 272, in read
    pa_table = self.api.parquet.read_table(
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/parquet/core.py", line 2956, in read_table
    dataset = _ParquetDatasetV2(
              ^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/parquet/core.py", line 2507, in __init__
    self._dataset = ds.dataset(path_or_paths, filesystem=filesystem,
                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 782, in dataset
    return _filesystem_dataset(source, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 465, in _filesystem_dataset
    fs, paths_or_selector = _ensure_single_source(source, filesystem)
                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 441, in _ensure_single_source
    raise FileNotFoundError(path)
FileNotFoundError: pheno-academic-collection-v1.2-prod-eu-west-1/curated_phenotypes/depression.parquet

curated_phenotypes s3://pheno-academic-collection-v1.2-prod-eu-west-1/curated_phenotypes/adhd.parquet
Traceback (most recent call last):
  File "/tmp/ipykernel_3603/1176001438.py", line 9, in <module>
    df_parquet = pd.read_parquet(full_path).reset_index()
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pandas/io/parquet.py", line 670, in read_parquet
    return impl.read(
           ^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pandas/io/parquet.py", line 272, in read
    pa_table = self.api.parquet.read_table(
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/parquet/core.py", line 2956, in read_table
    dataset = _ParquetDatasetV2(
              ^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/parquet/core.py", line 2507, in __init__
    self._dataset = ds.dataset(path_or_paths, filesystem=filesystem,
                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 782, in dataset
    return _filesystem_dataset(source, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 465, in _filesystem_dataset
    fs, paths_or_selector = _ensure_single_source(source, filesystem)
                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 441, in _ensure_single_source
    raise FileNotFoundError(path)
FileNotFoundError: pheno-academic-collection-v1.2-prod-eu-west-1/curated_phenotypes/adhd.parquet

curated_phenotypes s3://pheno-academic-collection-v1.2-prod-eu-west-1/curated_phenotypes/anxiety.parquet
Traceback (most recent call last):
  File "/tmp/ipykernel_3603/1176001438.py", line 9, in <module>
    df_parquet = pd.read_parquet(full_path).reset_index()
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pandas/io/parquet.py", line 670, in read_parquet
    return impl.read(
           ^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pandas/io/parquet.py", line 272, in read
    pa_table = self.api.parquet.read_table(
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/parquet/core.py", line 2956, in read_table
    dataset = _ParquetDatasetV2(
              ^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/parquet/core.py", line 2507, in __init__
    self._dataset = ds.dataset(path_or_paths, filesystem=filesystem,
                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 782, in dataset
    return _filesystem_dataset(source, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 465, in _filesystem_dataset
    fs, paths_or_selector = _ensure_single_source(source, filesystem)
                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 441, in _ensure_single_source
    raise FileNotFoundError(path)
FileNotFoundError: pheno-academic-collection-v1.2-prod-eu-west-1/curated_phenotypes/anxiety.parquet

curated_phenotypes s3://pheno-academic-collection-v1.2-prod-eu-west-1/curated_phenotypes/abdominal_adiposity.parquet
Traceback (most recent call last):
  File "/tmp/ipykernel_3603/1176001438.py", line 9, in <module>
    df_parquet = pd.read_parquet(full_path).reset_index()
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pandas/io/parquet.py", line 670, in read_parquet
    return impl.read(
           ^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pandas/io/parquet.py", line 272, in read
    pa_table = self.api.parquet.read_table(
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/parquet/core.py", line 2956, in read_table
    dataset = _ParquetDatasetV2(
              ^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/parquet/core.py", line 2507, in __init__
    self._dataset = ds.dataset(path_or_paths, filesystem=filesystem,
                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 782, in dataset
    return _filesystem_dataset(source, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 465, in _filesystem_dataset
    fs, paths_or_selector = _ensure_single_source(source, filesystem)
                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 441, in _ensure_single_source
    raise FileNotFoundError(path)
FileNotFoundError: pheno-academic-collection-v1.2-prod-eu-west-1/curated_phenotypes/abdominal_adiposity.parquet

curated_phenotypes s3://pheno-academic-collection-v1.2-prod-eu-west-1/curated_phenotypes/bmi.parquet
Traceback (most recent call last):
  File "/tmp/ipykernel_3603/1176001438.py", line 9, in <module>
    df_parquet = pd.read_parquet(full_path).reset_index()
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pandas/io/parquet.py", line 670, in read_parquet
    return impl.read(
           ^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pandas/io/parquet.py", line 272, in read
    pa_table = self.api.parquet.read_table(
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/parquet/core.py", line 2956, in read_table
    dataset = _ParquetDatasetV2(
              ^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/parquet/core.py", line 2507, in __init__
    self._dataset = ds.dataset(path_or_paths, filesystem=filesystem,
                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 782, in dataset
    return _filesystem_dataset(source, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 465, in _filesystem_dataset
    fs, paths_or_selector = _ensure_single_source(source, filesystem)
                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 441, in _ensure_single_source
    raise FileNotFoundError(path)
FileNotFoundError: pheno-academic-collection-v1.2-prod-eu-west-1/curated_phenotypes/bmi.parquet

curated_phenotypes s3://pheno-academic-collection-v1.2-prod-eu-west-1/curated_phenotypes/osa.parquet
Traceback (most recent call last):
  File "/tmp/ipykernel_3603/1176001438.py", line 9, in <module>
    df_parquet = pd.read_parquet(full_path).reset_index()
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pandas/io/parquet.py", line 670, in read_parquet
    return impl.read(
           ^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pandas/io/parquet.py", line 272, in read
    pa_table = self.api.parquet.read_table(
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/parquet/core.py", line 2956, in read_table
    dataset = _ParquetDatasetV2(
              ^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/parquet/core.py", line 2507, in __init__
    self._dataset = ds.dataset(path_or_paths, filesystem=filesystem,
                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 782, in dataset
    return _filesystem_dataset(source, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 465, in _filesystem_dataset
    fs, paths_or_selector = _ensure_single_source(source, filesystem)
                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/ec2-user/miniconda3/lib/python3.11/site-packages/pyarrow/dataset.py", line 441, in _ensure_single_source
    raise FileNotFoundError(path)
FileNotFoundError: pheno-academic-collection-v1.2-prod-eu-west-1/curated_phenotypes/osa.parquet

curated_phenotypes s3://pheno-academic-collection-v1.2-prod-eu-west-1/curated_phenotypes/ckd.parquet
Traceback (most recent call last):
  File "/tmp/ipykernel_3603/1176001438.py", line 9, in <module>
    df_parquet = pd.read_parquet(full_path).reset_index()

In [43]:

full_data = list()
for k, v in count_dict.items():
    for kk, vv in v.items():
        data = list()
        data.append(k)
        data.append(kk)
        col = vv['max_col']
        data.append(vv[col]["count_col_notna"])
        data.append(vv[col]["nunique_participants_not_na"])
        data.append(vv[col]["first_date"])
        data.append(vv[col]["last_date"])
        full_data.append(data)

In [44]:
full_data

[['0-population', 'population', 12014, 12014, None, None],
 ['1-events',
  'events',
  20723,
  10434,
  Timestamp('2018-12-05 00:00:00'),
  Timestamp('2022-12-29 00:00:00')],
 ['2-anthropometrics',
  'anthropometrics',
  12925,
  10387,
  Timestamp('2018-11-22 00:00:00'),
  Timestamp('2022-12-29 00:00:00')],
 ['3-fundus',
  'fundus',
  7068,
  7038,
  Timestamp('2021-02-17 00:00:00'),
  Timestamp('2022-12-04 00:00:00')],
 ['3-fundus', 'microvasculature', 7068, 7038, None, None],
 ['3-fundus',
  'images',
  7068,
  7038,
  Timestamp('2021-02-17 00:00:00'),
  Timestamp('2022-12-04 00:00:00')],
 ['3-fundus', 'segmented_images', 7068, 7038, None, None],
 ['4-liver_ultrasound',
  'liver_ultrasound',
  26684,
  8229,
  Timestamp('2020-02-20 00:00:00'),
  Timestamp('2022-12-29 00:00:00')],
 ['5-diet_logging',
  'diet_logging',
  149912,
  9531,
  Timestamp('2019-09-01 00:00:00'),
  Timestamp('2022-12-31 00:00:00')],
 ['5-diet_logging',
  'diet_logging_events',
  2640312,
  10197,
  Timestamp('2019-09-01 00:00:00'),
  Timestamp('2023-03-21 00:00:00')],
 ['5-diet_logging',
  'raw_diet_logging_events',
  6483638,
  10696,
  Timestamp('2019-09-01 00:00:00'),
  Timestamp('2023-03-21 00:00:00')],
 ['6-hand_grip',
  'hand_grip',
  12894,
  10371,
  Timestamp('2018-12-27 00:00:00'),
  Timestamp('2022-12-29 00:00:00')],
 ['7-blood_pressure',
  'blood_pressure',
  12946,
  10398,
  Timestamp('2018-12-27 00:00:00'),
  Timestamp('2022-12-29 00:00:00')],
 ['8-serum_lipidomics',
  'serum_lipidomics',
  6321,
  6144,
  Timestamp('2019-02-19 00:00:00'),
  Timestamp('2021-08-08 00:00:00')],
 ['9-sleep',
  'sleep',
  21038,
  7009,
  Timestamp('2020-01-15 00:00:00'),
  Timestamp('2022-12-27 00:00:00')],
 ['9-sleep', 'hrv', 20030, 6926, None, None],
 ['9-sleep',
  'channels_time_series',
  21072,
  6973,
  Timestamp('2020-01-15 00:00:00'),
  Timestamp('2022-12-27 00:00:00')],
 ['9-sleep',
  'channels_edf_file',
  21069,
  6973,
  Timestamp('2020-01-15 00:00:00'),
  Timestamp('2022-12-27 00:00:00')],
 ['9-sleep',
  'events_time_series',
  21372,
  7062,
  Timestamp('2020-01-15 00:00:00'),
  Timestamp('2022-12-27 00:00:00')],
 ['10-vascular_health',
  'vascular_health',
  11387,
  9729,
  Timestamp('2018-12-27 00:00:00'),
  Timestamp('2022-12-29 00:00:00')],
 ['11-body_composition',
  'body_composition',
  8990,
  8411,
  Timestamp('2020-06-09 00:00:00'),
  Timestamp('2022-12-29 00:00:00')],
 ['12-carotid_ultrasound',
  'carotid_ultrasound',
  8518,
  7988,
  Timestamp('2020-07-23 00:00:00'),
  Timestamp('2022-12-29 00:00:00')],
 ['13-gut_microbiome',
  'gut_microbiome',
  10694,
  8838,
  Timestamp('2019-02-14 00:00:00'),
  Timestamp('2022-12-28 00:00:00')],
 ['13-gut_microbiome',
  'raw_fastq',
  10694,
  8838,
  Timestamp('2019-02-14 00:00:00'),
  Timestamp('2022-12-28 00:00:00')],
 ['13-gut_microbiome',
  'trimmed_fastq',
  10694,
  8838,
  Timestamp('2019-02-14 00:00:00'),
  Timestamp('2022-12-28 00:00:00')],
 ['13-gut_microbiome',
  'nonhuman_fastq',
  10694,
  8838,
  Timestamp('2019-02-14 00:00:00'),
  Timestamp('2022-12-28 00:00:00')],
 ['13-gut_microbiome',
  'fastqc',
  10694,
  8838,
  Timestamp('2019-02-14 00:00:00'),
  Timestamp('2022-12-28 00:00:00')],
 ['13-gut_microbiome',
  'human_plink',
  10694,
  8838,
  Timestamp('2019-02-14 00:00:00'),
  Timestamp('2022-12-28 00:00:00')],
 ['13-gut_microbiome',
  'urs_abundances_single',
  10694,
  8838,
  Timestamp('2019-02-14 00:00:00'),
  Timestamp('2022-12-28 00:00:00')],
 ['13-gut_microbiome',
  'urs_abundances_aggregated',
  10694,
  8838,
  Timestamp('2019-02-14 00:00:00'),
  Timestamp('2022-12-28 00:00:00')],
 ['13-gut_microbiome',
  'metaphlan_abundances_single',
  10694,
  8838,
  Timestamp('2019-02-14 00:00:00'),
  Timestamp('2022-12-28 00:00:00')],
 ['13-gut_microbiome',
  'metaphlan_abundances_aggregated',
  10694,
  8838,
  Timestamp('2019-02-14 00:00:00'),
  Timestamp('2022-12-28 00:00:00')],
 ['14-human_genetics',
  'human_genetics',
  8821,
  8821,
  Timestamp('2019-03-11 00:00:00'),
  Timestamp('2022-12-21 00:00:00')],
 ['14-human_genetics', 'pca', 8820, 8820, None, None],
 ['14-human_genetics',
  'variants_qc',
  8821,
  8821,
  Timestamp('2019-03-11 00:00:00'),
  Timestamp('2022-12-21 00:00:00')],
 ['14-human_genetics',
  'fastq_bam',
  8821,
  8821,
  Timestamp('2019-03-11 00:00:00'),
  Timestamp('2022-12-21 00:00:00')],
 ['14-human_genetics',
  'genotypes_raw',
  8821,
  8821,
  Timestamp('2019-03-11 00:00:00'),
  Timestamp('2022-12-21 00:00:00')],
 ['14-human_genetics',
  'genotypes_postqc',
  8820,
  8820,
  Timestamp('2019-03-11 00:00:00'),
  Timestamp('2022-12-21 00:00:00')],
 ['14-human_genetics',
  'relationship',
  8821,
  8821,
  Timestamp('2019-03-11 00:00:00'),
  Timestamp('2022-12-21 00:00:00')],
 ['15-ecg',
  'ecg',
  9702,
  8085,
  Timestamp('2019-08-13 00:00:00'),
  Timestamp('2022-12-29 00:00:00')],
 ['15-ecg',
  'raw_timeseries_wide',
  9441,
  7888,
  Timestamp('2019-08-13 00:00:00'),
  Timestamp('2022-12-29 00:00:00')],
 ['15-ecg',
  'processed_timeseries_wide',
  9172,
  7711,
  Timestamp('2019-08-13 00:00:00'),
  Timestamp('2022-12-29 00:00:00')],
 ['15-ecg',
  'raw_timeseries_long',
  9441,
  7888,
  Timestamp('2019-08-13 00:00:00'),
  Timestamp('2022-12-29 00:00:00')],
 ['15-ecg',
  'processed_timeseries_long',
  9172,
  7711,
  Timestamp('2019-08-13 00:00:00'),
  Timestamp('2022-12-29 00:00:00')],
 ['16-blood_tests',
  'blood_tests',
  29074,
  10252,
  Timestamp('2010-01-06 00:00:00'),
  Timestamp('2022-12-29 00:00:00')],
 ['17-cgm',
  'cgm',
  9497,
  9431,
  Timestamp('2019-01-07 00:14:00+0200', tz='Asia/Jerusalem'),
  Timestamp('2022-12-30 00:14:00+0200', tz='Asia/Jerusalem')],
 ['17-cgm',
  'timeseries',
  9497,
  9431,
  Timestamp('2019-01-07 00:14:00+0200', tz='Asia/Jerusalem'),
  Timestamp('2022-12-30 00:14:00+0200', tz='Asia/Jerusalem')],
 ['17-cgm', 'iglu', 9497, 9431, None, None],
 ['17-cgm',
  'iglu_daily',
  104845,
  9431,
  Timestamp('2019-01-07 00:00:00'),
  Timestamp('2022-12-31 00:00:00')],
 ['22-bone_density',
  'bone_density',
  9032,
  8459,
  Timestamp('2020-06-09 00:00:00'),
  Timestamp('2022-12-29 00:00:00')],
 ['18-medications',
  'medications',
  43417,
  10787,
  Timestamp('2018-10-18 00:00:00'),
  Timestamp('2022-12-31 00:00:00')],
 ['21-medical_conditions',
  'medical_conditions',
  22413,
  10792,
  Timestamp('2018-11-21 00:00:00'),
  Timestamp('2022-12-31 00:00:00')],
 ['49-medical_symptoms',
  'initial_medical',
  7416,
  7383,
  Timestamp('2020-02-26 00:00:00'),
  Timestamp('2022-12-31 00:00:00')],
 ['49-medical_symptoms',
  'follow_up_ukbb',
  5710,
  4471,
  Timestamp('2020-02-17 00:00:00'),
  Timestamp('2022-12-31 00:00:00')],
 ['49-medical_symptoms',
  'digestive_health',
  9172,
  8719,
  Timestamp('2019-01-09 00:00:00'),
  Timestamp('2022-12-31 00:00:00')],
 ['50-medical_procedures',
  'initial_medical',
  7416,
  7383,
  Timestamp('2020-02-26 00:00:00'),
  Timestamp('2022-12-31 00:00:00')],
 ['50-medical_procedures',
  'follow_up_medical',
  7572,
  5869,
  Timestamp('2021-04-22 00:00:00'),
  Timestamp('2022-12-29 00:00:00')],
 ['43-covid',
  'covid',
  14988,
  9120,
  Timestamp('2021-04-22 00:00:00'),
  Timestamp('2022-12-29 00:00:00')],
 ['44-sex_specific_factors',
  'menstrual_cycle_survey',
  1405,
  1405,
  Timestamp('2022-06-12 00:00:00'),
  Timestamp('2022-12-29 00:00:00')],
 ['44-sex_specific_factors',
  'initial_medical',
  7416,
  7383,
  Timestamp('2020-02-26 00:00:00'),
  Timestamp('2022-12-31 00:00:00')],
 ['44-sex_specific_factors',
  'ukbb',
  9151,
  8759,
  Timestamp('2019-01-09 00:00:00'),
  Timestamp('2022-12-31 00:00:00')],
 ['44-sex_specific_factors',
  'follow_up_ukbb',
  5710,
  4471,
  Timestamp('2020-02-17 00:00:00'),
  Timestamp('2022-12-31 00:00:00')],
 ['44-sex_specific_factors',
  'follow_up_medical',
  7572,
  5869,
  Timestamp('2021-04-22 00:00:00'),
  Timestamp('2022-12-29 00:00:00')],
 ['52-family_history',
  'initial_medical',
  7416,
  7383,
  Timestamp('2020-02-26 00:00:00'),
  Timestamp('2022-12-31 00:00:00')],
 ['52-family_history',
  'ukbb',
  14861,
  9262,
  Timestamp('2019-01-09 00:00:00'),
  Timestamp('2022-12-31 00:00:00')],
 ['51-children',
  'children',
  7416,
  7383,
  Timestamp('2020-02-26 00:00:00'),
  Timestamp('2022-12-31 00:00:00')],
 ['53-sociodemographics',
  'ukbb',
  14861,
  9262,
  Timestamp('2019-01-09 00:00:00'),
  Timestamp('2022-12-31 00:00:00')],
 ['53-sociodemographics',
  'initial_medical',
  7416,
  7383,
  Timestamp('2020-02-26 00:00:00'),
  Timestamp('2022-12-31 00:00:00')],
 ['55-lifestyle_and_environment',
  'lifestyle_and_environment',
  14861,
  9262,
  Timestamp('2019-01-09 00:00:00'),
  Timestamp('2022-12-31 00:00:00')],
 ['57-psychological_and_social_health',
  'psychological_and_social_health',
  14861,
  9262,
  Timestamp('2019-01-09 00:00:00'),
  Timestamp('2022-12-31 00:00:00')],
 ['58-health_and_medical_history',
  'ukbb',
  14861,
  9262,
  Timestamp('2019-01-09 00:00:00'),
  Timestamp('2022-12-31 00:00:00')],
 ['58-health_and_medical_history',
  'initial_medical',
  10197,
  10197,
  Timestamp('2018-11-21 00:00:00'),
  Timestamp('2022-12-31 00:00:00')],
 ['45-participant_relation',
  'participant relation',
  3739,
  3106,
  Timestamp('2019-02-05 00:00:00'),
  Timestamp('2022-12-29 00:00:00')],
 ['24-rna_seq',
  'rna_seq',
  3958,
  3863,
  Timestamp('2021-02-28 00:00:00'),
  Timestamp('2022-06-21 00:00:00')],
 ['24-rna_seq',
  'raw_fastq',
  3958,
  3863,
  Timestamp('2021-02-28 00:00:00'),
  Timestamp('2022-06-21 00:00:00')],
 ['24-rna_seq',
  'trimmed_fastq',
  3958,
  3863,
  Timestamp('2021-02-28 00:00:00'),
  Timestamp('2022-06-21 00:00:00')],
 ['24-rna_seq',
  'aligned_bam',
  3958,
  3863,
  Timestamp('2021-02-28 00:00:00'),
  Timestamp('2022-06-21 00:00:00')],
 ['24-rna_seq',
  'deduplicated_bam',
  3958,
  3863,
  Timestamp('2021-02-28 00:00:00'),
  Timestamp('2022-06-21 00:00:00')],
 ['24-rna_seq',
  'multiqc',
  3958,
  3863,
  Timestamp('2021-02-28 00:00:00'),
  Timestamp('2022-06-21 00:00:00')],
 ['29-nightingale_metabolomics',
  'nightingale_metabolomics',
  1644,
  1552,
  Timestamp('2019-05-07 00:00:00'),
  Timestamp('2022-08-02 00:00:00')],
 ['29-nightingale_metabolomics',
  'bimarker_qc_tags',
  1644,
  1552,
  Timestamp('2019-05-07 00:00:00'),
  Timestamp('2022-08-02 00:00:00')],
 ['70-oral_microbiome',
  'oral_microbiome',
  8816,
  8816,
  Timestamp('2019-03-11 00:00:00'),
  Timestamp('2022-12-21 00:00:00')],
 ['70-oral_microbiome',
  'raw_fastq',
  8816,
  8816,
  Timestamp('2019-03-11 00:00:00'),
  Timestamp('2022-12-21 00:00:00')],
 ['70-oral_microbiome',
  'trimmed_fastq',
  8816,
  8816,
  Timestamp('2019-03-11 00:00:00'),
  Timestamp('2022-12-21 00:00:00')],
 ['70-oral_microbiome',
  'fastqc',
  8816,
  8816,
  Timestamp('2019-03-11 00:00:00'),
  Timestamp('2022-12-21 00:00:00')],
 ['70-oral_microbiome',
  'metaphlan',
  8816,
  8816,
  Timestamp('2019-03-11 00:00:00'),
  Timestamp('2022-12-21 00:00:00')],
 ['70-oral_microbiome',
  'metaphlan_aggregated',
  8816,
  8816,
  Timestamp('2019-03-11 00:00:00'),
  Timestamp('2022-12-21 00:00:00')],
 ['70-oral_microbiome',
  'humann',
  8816,
  8816,
  Timestamp('2019-03-11 00:00:00'),
  Timestamp('2022-12-21 00:00:00')],
 ['70-oral_microbiome',
  'humann_aggregated',
  8816,
  8816,
  Timestamp('2019-03-11 00:00:00'),
  Timestamp('2022-12-21 00:00:00')]]

In [45]:
df_res = pd.DataFrame(full_data)
df_res.columns = ['dataset', 'feature_set', 'count_col_notna', 'nunique_participants_not_na', 'first_date', 'last_date']
df_res.head()

,dataset,feature_set,count_col_notna,nunique_participants_not_na,first_date,last_date
0,0-population,population,12014,12014,None,None
1,1-events,events,20723,10434,2018-12-05 00:00:00,2022-12-29 00:00:00
2,2-anthropometrics,anthropometrics,12925,10387,2018-11-22 00:00:00,2022-12-29 00:00:00
3,3-fundus,fundus,7068,7038,2021-02-17 00:00:00,2022-12-04 00:00:00
4,3-fundus,microvasculature,7068,7038,None,None

In [46]:
# df_res.to_csv('pheno_stage_data_collection_v1_2_full_count.csv', index=False)
# df_res.to_csv('pheno_stage_data_collection_v1_2_before_2023_count.csv', index=False)

In [47]:
df_res.query('dataset == "17-cgm"')

,dataset,feature_set,count_col_notna,nunique_participants_not_na,first_date,last_date
45,17-cgm,cgm,9497,9431,2019-01-07 00:14:00+02:00,2022-12-30 00:14:00+02:00
46,17-cgm,timeseries,9497,9431,2019-01-07 00:14:00+02:00,2022-12-30 00:14:00+02:00
47,17-cgm,iglu,9497,9431,None,None
48,17-cgm,iglu_daily,104845,9431,2019-01-07 00:00:00,2022-12-31 00:00:00

In [48]:
if BEFORE_2023:
    df_res.loc[df_res['dataset']== '0-population', 'count_col_notna'] =  df_res.loc[df_res['dataset']== '1-events', 'nunique_participants_not_na'].values
    df_res.loc[df_res['dataset']== '0-population', 'nunique_participants_not_na'] =  df_res.loc[df_res['dataset']== '1-events', 'nunique_participants_not_na'].values
    k = 'population'
    v = 'events'
    df_res.loc[df_res['feature_set']== k, 'first_date'] =  df_res.loc[df_res['feature_set']== v, 'first_date'].values
    df_res.loc[df_res['feature_set']== k, 'last_date'] = df_res.loc[df_res['feature_set']== v, 'last_date'].values

In [49]:

df_res.loc[df_res['dataset']== '100-curated_phenotypes', 'first_date'] =  df_res.loc[df_res['dataset']== '1-events', 'first_date'].values[0]
df_res.loc[df_res['dataset']== '100-curated_phenotypes', 'last_date'] = df_res.loc[df_res['dataset']== '1-events','last_date'].values[0]

if BEFORE_2023:
    df_res.loc[df_res['dataset'] == '100-curated_phenotypes', 'count_col_notna'] =  df_res.loc[df_res['dataset'] == '100-curated_phenotypes', 'count_col_notna'].clip(upper=df_res.loc[df_res['dataset'] == '1-events', 'count_col_notna'].iloc[0])
    df_res.loc[df_res['dataset'] == '100-curated_phenotypes', 'nunique_participants_not_na'] =  df_res.loc[df_res['dataset'] == '100-curated_phenotypes', 'nunique_participants_not_na'].clip(upper=df_res.loc[df_res['dataset'] == '1-events', 'nunique_participants_not_na'].iloc[0])
    

df_res.tail(2)

,dataset,feature_set,count_col_notna,nunique_participants_not_na,first_date,last_date
87,70-oral_microbiome,humann,8816,8816,2019-03-11 00:00:00,2022-12-21 00:00:00
88,70-oral_microbiome,humann_aggregated,8816,8816,2019-03-11 00:00:00,2022-12-21 00:00:00

In [50]:
if BEFORE_2023 and not SHOW_FEATURE_SETS:
    df_res = df_res[pd.notna(df_res['last_date'])]

In [51]:

dict_dataset = {
    'population': 'events',
    'microvasculature': 'fundus',
    'segmented_images': 'fundus',
    'hrv': 'sleep',
    'hrv_raw': 'sleep',
    'pca': 'human_genetics',
    'iglu': 'iglu_daily', 
    
}
for k, v in dict_dataset.items():
    df_res.loc[df_res['feature_set']== k, 'first_date'] =  df_res.loc[df_res['feature_set']== v, 'first_date'].values
    df_res.loc[df_res['feature_set']== k, 'last_date'] = df_res.loc[df_res['feature_set']== v, 'last_date'].values

df_res.head()

,dataset,feature_set,count_col_notna,nunique_participants_not_na,first_date,last_date
0,0-population,population,12014,12014,2018-12-05 00:00:00,2022-12-29 00:00:00
1,1-events,events,20723,10434,2018-12-05 00:00:00,2022-12-29 00:00:00
2,2-anthropometrics,anthropometrics,12925,10387,2018-11-22 00:00:00,2022-12-29 00:00:00
3,3-fundus,fundus,7068,7038,2021-02-17 00:00:00,2022-12-04 00:00:00
4,3-fundus,microvasculature,7068,7038,2021-02-17 00:00:00,2022-12-04 00:00:00

In [52]:
df_res.tail(2)

,dataset,feature_set,count_col_notna,nunique_participants_not_na,first_date,last_date
87,70-oral_microbiome,humann,8816,8816,2019-03-11 00:00:00,2022-12-21 00:00:00
88,70-oral_microbiome,humann_aggregated,8816,8816,2019-03-11 00:00:00,2022-12-21 00:00:00

In [53]:
df_res.query('dataset == "17-cgm"')

,dataset,feature_set,count_col_notna,nunique_participants_not_na,first_date,last_date
45,17-cgm,cgm,9497,9431,2019-01-07 00:14:00+02:00,2022-12-30 00:14:00+02:00
46,17-cgm,timeseries,9497,9431,2019-01-07 00:14:00+02:00,2022-12-30 00:14:00+02:00
47,17-cgm,iglu,9497,9431,2019-01-07 00:00:00,2022-12-31 00:00:00
48,17-cgm,iglu_daily,104845,9431,2019-01-07 00:00:00,2022-12-31 00:00:00

In [54]:
import datetime

# Create a function to convert the date string to a datetime object
def convert_date_string(date_string):
    if date_string is None or date_string == 'None' or date_string == 'NaT' or date_string == 'nan':
        return None
    else:
        date_string_without_timezone = date_string[:19]
        datetime_object = datetime.datetime.strptime(date_string_without_timezone, '%Y-%m-%d %H:%M:%S')
        date = datetime_object.date()
        return date

In [55]:
df_convert = df_res.copy()


df_convert["first_date"] = df_convert["first_date"].apply(str)
df_convert["last_date"] = df_convert["last_date"].apply(str)

# Convert all the dates in the DataFrame to datetime objects
df_convert["first_date"] = df_convert["first_date"].apply(convert_date_string)
df_convert["last_date"] = df_convert["last_date"].apply(convert_date_string)

In [56]:
df_convert.query('dataset == "17-cgm"')

,dataset,feature_set,count_col_notna,nunique_participants_not_na,first_date,last_date
45,17-cgm,cgm,9497,9431,2019-01-07,2022-12-30
46,17-cgm,timeseries,9497,9431,2019-01-07,2022-12-30
47,17-cgm,iglu,9497,9431,2019-01-07,2022-12-31
48,17-cgm,iglu_daily,104845,9431,2019-01-07,2022-12-31

In [57]:
df_convert.shape

(89, 6)

In [58]:
df_convert.head(50)

,dataset,feature_set,count_col_notna,nunique_participants_not_na,first_date,last_date
0,0-population,population,12014,12014,2018-12-05,2022-12-29
1,1-events,events,20723,10434,2018-12-05,2022-12-29
2,2-anthropometrics,anthropometrics,12925,10387,2018-11-22,2022-12-29
3,3-fundus,fundus,7068,7038,2021-02-17,2022-12-04
4,3-fundus,microvasculature,7068,7038,2021-02-17,2022-12-04
5,3-fundus,images,7068,7038,2021-02-17,2022-12-04
6,3-fundus,segmented_images,7068,7038,2021-02-17,2022-12-04
7,4-liver_ultrasound,liver_ultrasound,26684,8229,2020-02-20,2022-12-29
8,5-diet_logging,diet_logging,149912,9531,2019-09-01,2022-12-31
9,5-diet_logging,diet_logging_events,2640312,10197,2019-09-01,2023-03-21
10,5-diet_logging,raw_diet_logging_events,6483638,10696,2019-09-01,2023-03-21
11,6-hand_grip,hand_grip,12894,10371,2018-12-27,2022-12-29
12,7-blood_pressure,blood_pressure,12946,10398,2018-12-27,2022-12-29
13,8-serum_lipidomics,serum_lipidomics,6321,6144,2019-02-19,2021-08-08
14,9-sleep,sleep,21038,7009,2020-01-15,2022-12-27
15,9-sleep,hrv,20030,6926,2020-01-15,2022-12-27
16,9-sleep,channels_time_series,21072,6973,2020-01-15,2022-12-27
17,9-sleep,channels_edf_file,21069,6973,2020-01-15,2022-12-27
18,9-sleep,events_time_series,21372,7062,2020-01-15,2022-12-27
19,10-vascular_health,vascular_health,11387,9729,2018-12-27,2022-12-29
20,11-body_composition,body_composition,8990,8411,2020-06-09,2022-12-29
21,12-carotid_ultrasound,carotid_ultrasound,8518,7988,2020-07-23,2022-12-29
22,13-gut_microbiome,gut_microbiome,10694,8838,2019-02-14,2022-12-28
23,13-gut_microbiome,raw_fastq,10694,8838,2019-02-14,2022-12-28
24,13-gut_microbiome,trimmed_fastq,10694,8838,2019-02-14,2022-12-28
25,13-gut_microbiome,nonhuman_fastq,10694,8838,2019-02-14,2022-12-28
26,13-gut_microbiome,fastqc,10694,8838,2019-02-14,2022-12-28
27,13-gut_microbiome,human_plink,10694,8838,2019-02-14,2022-12-28
28,13-gut_microbiome,urs_abundances_single,10694,8838,2019-02-14,2022-12-28
29,13-gut_microbiome,urs_abundances_aggregated,10694,8838,2019-02-14,2022-12-28
30,13-gut_microbiome,metaphlan_abundances_single,10694,8838,2019-02-14,2022-12-28
31,13-gut_microbiome,metaphlan_abundances_aggregated,10694,8838,2019-02-14,2022-12-28
32,14-human_genetics,human_genetics,8821,8821,2019-03-11,2022-12-21
33,14-human_genetics,pca,8820,8820,2019-03-11,2022-12-21
34,14-human_genetics,variants_qc,8821,8821,2019-03-11,2022-12-21
35,14-human_genetics,fastq_bam,8821,8821,2019-03-11,2022-12-21
36,14-human_genetics,genotypes_raw,8821,8821,2019-03-11,2022-12-21
37,14-human_genetics,genotypes_postqc,8820,8820,2019-03-11,2022-12-21
38,14-human_genetics,relationship,8821,8821,2019-03-11,2022-12-21
39,15-ecg,ecg,9702,8085,2019-08-13,2022-12-29
40,15-ecg,raw_timeseries_wide,9441,7888,2019-08-13,2022-12-29
41,15-ecg,processed_timeseries_wide,9172,7711,2019-08-13,2022-12-29
42,15-ecg,raw_timeseries_long,9441,7888,2019-08-13,2022-12-29
43,15-ecg,processed_timeseries_long,9172,7711,2019-08-13,2022-12-29
44,16-blood_tests,blood_tests,29074,10252,2010-01-06,2022-12-29
45,17-cgm,cgm,9497,9431,2019-01-07,2022-12-30
46,17-cgm,timeseries,9497,9431,2019-01-07,2022-12-30
47,17-cgm,iglu,9497,9431,2019-01-07,2022-12-31
48,17-cgm,iglu_daily,104845,9431,2019-01-07,2022-12-31
49,22-bone_density,bone_density,9032,8459,2020-06-09,2022-12-29

In [59]:
df_convert.tail(50)

,dataset,feature_set,count_col_notna,nunique_participants_not_na,first_date,last_date
39,15-ecg,ecg,9702,8085,2019-08-13,2022-12-29
40,15-ecg,raw_timeseries_wide,9441,7888,2019-08-13,2022-12-29
41,15-ecg,processed_timeseries_wide,9172,7711,2019-08-13,2022-12-29
42,15-ecg,raw_timeseries_long,9441,7888,2019-08-13,2022-12-29
43,15-ecg,processed_timeseries_long,9172,7711,2019-08-13,2022-12-29
44,16-blood_tests,blood_tests,29074,10252,2010-01-06,2022-12-29
45,17-cgm,cgm,9497,9431,2019-01-07,2022-12-30
46,17-cgm,timeseries,9497,9431,2019-01-07,2022-12-30
47,17-cgm,iglu,9497,9431,2019-01-07,2022-12-31
48,17-cgm,iglu_daily,104845,9431,2019-01-07,2022-12-31
49,22-bone_density,bone_density,9032,8459,2020-06-09,2022-12-29
50,18-medications,medications,43417,10787,2018-10-18,2022-12-31
51,21-medical_conditions,medical_conditions,22413,10792,2018-11-21,2022-12-31
52,49-medical_symptoms,initial_medical,7416,7383,2020-02-26,2022-12-31
53,49-medical_symptoms,follow_up_ukbb,5710,4471,2020-02-17,2022-12-31
54,49-medical_symptoms,digestive_health,9172,8719,2019-01-09,2022-12-31
55,50-medical_procedures,initial_medical,7416,7383,2020-02-26,2022-12-31
56,50-medical_procedures,follow_up_medical,7572,5869,2021-04-22,2022-12-29
57,43-covid,covid,14988,9120,2021-04-22,2022-12-29
58,44-sex_specific_factors,menstrual_cycle_survey,1405,1405,2022-06-12,2022-12-29
59,44-sex_specific_factors,initial_medical,7416,7383,2020-02-26,2022-12-31
60,44-sex_specific_factors,ukbb,9151,8759,2019-01-09,2022-12-31
61,44-sex_specific_factors,follow_up_ukbb,5710,4471,2020-02-17,2022-12-31
62,44-sex_specific_factors,follow_up_medical,7572,5869,2021-04-22,2022-12-29
63,52-family_history,initial_medical,7416,7383,2020-02-26,2022-12-31
64,52-family_history,ukbb,14861,9262,2019-01-09,2022-12-31
65,51-children,children,7416,7383,2020-02-26,2022-12-31
66,53-sociodemographics,ukbb,14861,9262,2019-01-09,2022-12-31
67,53-sociodemographics,initial_medical,7416,7383,2020-02-26,2022-12-31
68,55-lifestyle_and_environment,lifestyle_and_environment,14861,9262,2019-01-09,2022-12-31
69,57-psychological_and_social_health,psychological_and_social_health,14861,9262,2019-01-09,2022-12-31
70,58-health_and_medical_history,ukbb,14861,9262,2019-01-09,2022-12-31
71,58-health_and_medical_history,initial_medical,10197,10197,2018-11-21,2022-12-31
72,45-participant_relation,participant relation,3739,3106,2019-02-05,2022-12-29
73,24-rna_seq,rna_seq,3958,3863,2021-02-28,2022-06-21
74,24-rna_seq,raw_fastq,3958,3863,2021-02-28,2022-06-21
75,24-rna_seq,trimmed_fastq,3958,3863,2021-02-28,2022-06-21
76,24-rna_seq,aligned_bam,3958,3863,2021-02-28,2022-06-21
77,24-rna_seq,deduplicated_bam,3958,3863,2021-02-28,2022-06-21
78,24-rna_seq,multiqc,3958,3863,2021-02-28,2022-06-21
79,29-nightingale_metabolomics,nightingale_metabolomics,1644,1552,2019-05-07,2022-08-02
80,29-nightingale_metabolomics,bimarker_qc_tags,1644,1552,2019-05-07,2022-08-02
81,70-oral_microbiome,oral_microbiome,8816,8816,2019-03-11,2022-12-21
82,70-oral_microbiome,raw_fastq,8816,8816,2019-03-11,2022-12-21
83,70-oral_microbiome,trimmed_fastq,8816,8816,2019-03-11,2022-12-21
84,70-oral_microbiome,fastqc,8816,8816,2019-03-11,2022-12-21
85,70-oral_microbiome,metaphlan,8816,8816,2019-03-11,2022-12-21
86,70-oral_microbiome,metaphlan_aggregated,8816,8816,2019-03-11,2022-12-21
87,70-oral_microbiome,humann,8816,8816,2019-03-11,2022-12-21
88,70-oral_microbiome,humann_aggregated,8816,8816,2019-03-11,2022-12-21

In [60]:
# Function to split 'dataset' column
def split_dataset(value):
    try:
        id_, dataset = value.split('-', 1)
    except ValueError:
        id_ = None
        dataset = value
    return pd.Series([id_, dataset])

In [61]:
df = df_convert.copy()

In [62]:

# Apply the function
df[['id', 'dataset']] = df['dataset'].apply(split_dataset)

/tmp/ipykernel_3603/3306964056.py:2: FutureWarning: Returning a DataFrame from Series.apply when the supplied function returns a Series is deprecated and will be removed in a future version.
  df[['id', 'dataset']] = df['dataset'].apply(split_dataset)

In [63]:
df.head()

,dataset,feature_set,count_col_notna,nunique_participants_not_na,first_date,last_date,id
0,population,population,12014,12014,2018-12-05,2022-12-29,0
1,events,events,20723,10434,2018-12-05,2022-12-29,1
2,anthropometrics,anthropometrics,12925,10387,2018-11-22,2022-12-29,2
3,fundus,fundus,7068,7038,2021-02-17,2022-12-04,3
4,fundus,microvasculature,7068,7038,2021-02-17,2022-12-04,3

In [64]:
df.tail()

,dataset,feature_set,count_col_notna,nunique_participants_not_na,first_date,last_date,id
84,oral_microbiome,fastqc,8816,8816,2019-03-11,2022-12-21,70
85,oral_microbiome,metaphlan,8816,8816,2019-03-11,2022-12-21,70
86,oral_microbiome,metaphlan_aggregated,8816,8816,2019-03-11,2022-12-21,70
87,oral_microbiome,humann,8816,8816,2019-03-11,2022-12-21,70
88,oral_microbiome,humann_aggregated,8816,8816,2019-03-11,2022-12-21,70

In [65]:
# Function to format the numbers
def format_number(x):
    return f'{int(x):03d}'

# Apply the function to the desired column
df['id'] = df['id'].apply(format_number)
 
df.head()

,dataset,feature_set,count_col_notna,nunique_participants_not_na,first_date,last_date,id
0,population,population,12014,12014,2018-12-05,2022-12-29,000
1,events,events,20723,10434,2018-12-05,2022-12-29,001
2,anthropometrics,anthropometrics,12925,10387,2018-11-22,2022-12-29,002
3,fundus,fundus,7068,7038,2021-02-17,2022-12-04,003
4,fundus,microvasculature,7068,7038,2021-02-17,2022-12-04,003

In [66]:
df.head(50)

,dataset,feature_set,count_col_notna,nunique_participants_not_na,first_date,last_date,id
0,population,population,12014,12014,2018-12-05,2022-12-29,000
1,events,events,20723,10434,2018-12-05,2022-12-29,001
2,anthropometrics,anthropometrics,12925,10387,2018-11-22,2022-12-29,002
3,fundus,fundus,7068,7038,2021-02-17,2022-12-04,003
4,fundus,microvasculature,7068,7038,2021-02-17,2022-12-04,003
5,fundus,images,7068,7038,2021-02-17,2022-12-04,003
6,fundus,segmented_images,7068,7038,2021-02-17,2022-12-04,003
7,liver_ultrasound,liver_ultrasound,26684,8229,2020-02-20,2022-12-29,004
8,diet_logging,diet_logging,149912,9531,2019-09-01,2022-12-31,005
9,diet_logging,diet_logging_events,2640312,10197,2019-09-01,2023-03-21,005
10,diet_logging,raw_diet_logging_events,6483638,10696,2019-09-01,2023-03-21,005
11,hand_grip,hand_grip,12894,10371,2018-12-27,2022-12-29,006
12,blood_pressure,blood_pressure,12946,10398,2018-12-27,2022-12-29,007
13,serum_lipidomics,serum_lipidomics,6321,6144,2019-02-19,2021-08-08,008
14,sleep,sleep,21038,7009,2020-01-15,2022-12-27,009
15,sleep,hrv,20030,6926,2020-01-15,2022-12-27,009
16,sleep,channels_time_series,21072,6973,2020-01-15,2022-12-27,009
17,sleep,channels_edf_file,21069,6973,2020-01-15,2022-12-27,009
18,sleep,events_time_series,21372,7062,2020-01-15,2022-12-27,009
19,vascular_health,vascular_health,11387,9729,2018-12-27,2022-12-29,010
20,body_composition,body_composition,8990,8411,2020-06-09,2022-12-29,011
21,carotid_ultrasound,carotid_ultrasound,8518,7988,2020-07-23,2022-12-29,012
22,gut_microbiome,gut_microbiome,10694,8838,2019-02-14,2022-12-28,013
23,gut_microbiome,raw_fastq,10694,8838,2019-02-14,2022-12-28,013
24,gut_microbiome,trimmed_fastq,10694,8838,2019-02-14,2022-12-28,013
25,gut_microbiome,nonhuman_fastq,10694,8838,2019-02-14,2022-12-28,013
26,gut_microbiome,fastqc,10694,8838,2019-02-14,2022-12-28,013
27,gut_microbiome,human_plink,10694,8838,2019-02-14,2022-12-28,013
28,gut_microbiome,urs_abundances_single,10694,8838,2019-02-14,2022-12-28,013
29,gut_microbiome,urs_abundances_aggregated,10694,8838,2019-02-14,2022-12-28,013
30,gut_microbiome,metaphlan_abundances_single,10694,8838,2019-02-14,2022-12-28,013
31,gut_microbiome,metaphlan_abundances_aggregated,10694,8838,2019-02-14,2022-12-28,013
32,human_genetics,human_genetics,8821,8821,2019-03-11,2022-12-21,014
33,human_genetics,pca,8820,8820,2019-03-11,2022-12-21,014
34,human_genetics,variants_qc,8821,8821,2019-03-11,2022-12-21,014
35,human_genetics,fastq_bam,8821,8821,2019-03-11,2022-12-21,014
36,human_genetics,genotypes_raw,8821,8821,2019-03-11,2022-12-21,014
37,human_genetics,genotypes_postqc,8820,8820,2019-03-11,2022-12-21,014
38,human_genetics,relationship,8821,8821,2019-03-11,2022-12-21,014
39,ecg,ecg,9702,8085,2019-08-13,2022-12-29,015
40,ecg,raw_timeseries_wide,9441,7888,2019-08-13,2022-12-29,015
41,ecg,processed_timeseries_wide,9172,7711,2019-08-13,2022-12-29,015
42,ecg,raw_timeseries_long,9441,7888,2019-08-13,2022-12-29,015
43,ecg,processed_timeseries_long,9172,7711,2019-08-13,2022-12-29,015
44,blood_tests,blood_tests,29074,10252,2010-01-06,2022-12-29,016
45,cgm,cgm,9497,9431,2019-01-07,2022-12-30,017
46,cgm,timeseries,9497,9431,2019-01-07,2022-12-30,017
47,cgm,iglu,9497,9431,2019-01-07,2022-12-31,017
48,cgm,iglu_daily,104845,9431,2019-01-07,2022-12-31,017
49,bone_density,bone_density,9032,8459,2020-06-09,2022-12-29,022

In [67]:
df.tail(20)

,dataset,feature_set,count_col_notna,nunique_participants_not_na,first_date,last_date,id
69,psychological_and_social_health,psychological_and_social_health,14861,9262,2019-01-09,2022-12-31,057
70,health_and_medical_history,ukbb,14861,9262,2019-01-09,2022-12-31,058
71,health_and_medical_history,initial_medical,10197,10197,2018-11-21,2022-12-31,058
72,participant_relation,participant relation,3739,3106,2019-02-05,2022-12-29,045
73,rna_seq,rna_seq,3958,3863,2021-02-28,2022-06-21,024
74,rna_seq,raw_fastq,3958,3863,2021-02-28,2022-06-21,024
75,rna_seq,trimmed_fastq,3958,3863,2021-02-28,2022-06-21,024
76,rna_seq,aligned_bam,3958,3863,2021-02-28,2022-06-21,024
77,rna_seq,deduplicated_bam,3958,3863,2021-02-28,2022-06-21,024
78,rna_seq,multiqc,3958,3863,2021-02-28,2022-06-21,024
79,nightingale_metabolomics,nightingale_metabolomics,1644,1552,2019-05-07,2022-08-02,029
80,nightingale_metabolomics,bimarker_qc_tags,1644,1552,2019-05-07,2022-08-02,029
81,oral_microbiome,oral_microbiome,8816,8816,2019-03-11,2022-12-21,070
82,oral_microbiome,raw_fastq,8816,8816,2019-03-11,2022-12-21,070
83,oral_microbiome,trimmed_fastq,8816,8816,2019-03-11,2022-12-21,070
84,oral_microbiome,fastqc,8816,8816,2019-03-11,2022-12-21,070
85,oral_microbiome,metaphlan,8816,8816,2019-03-11,2022-12-21,070
86,oral_microbiome,metaphlan_aggregated,8816,8816,2019-03-11,2022-12-21,070
87,oral_microbiome,humann,8816,8816,2019-03-11,2022-12-21,070
88,oral_microbiome,humann_aggregated,8816,8816,2019-03-11,2022-12-21,070

In [68]:
# df.to_csv('s3://ds-users/mariag/pheno_stage_data_collection_v1_2_count_converted_fulls.csv', index=False)
# df.to_csv('s3://ds-users/mariag/pheno_stage_data_collection_v1_2_count_converted_before_2023.csv', index=False)

In [69]:
# for each daatset group by dataset and get the min and max date and max count and max participant
df_group = df.groupby('dataset').agg({'first_date': 'min', 'last_date': 'max', 'count_col_notna': 'max', 'nunique_participants_not_na': 'max', 'id':'first'}).reset_index()

In [70]:
df_group['int_id'] = df_group['id'].astype(int)
df_group.sort_values('int_id', inplace=True)
df_group

,dataset,first_date,last_date,count_col_notna,nunique_participants_not_na,id,int_id
27,population,2018-12-05,2022-12-29,12014,12014,000,0
11,events,2018-12-05,2022-12-29,20723,10434,001,1
0,anthropometrics,2018-11-22,2022-12-29,12925,10387,002,2
13,fundus,2021-02-17,2022-12-04,7068,7038,003,3
19,liver_ultrasound,2020-02-20,2022-12-29,26684,8229,004,4
9,diet_logging,2019-09-01,2023-03-21,6483638,10696,005,5
15,hand_grip,2018-12-27,2022-12-29,12894,10371,006,6
1,blood_pressure,2018-12-27,2022-12-29,12946,10398,007,7
30,serum_lipidomics,2019-02-19,2021-08-08,6321,6144,008,8
32,sleep,2020-01-15,2022-12-27,21372,7062,009,9
34,vascular_health,2018-12-27,2022-12-29,11387,9729,010,10
3,body_composition,2020-06-09,2022-12-29,8990,8411,011,11
5,carotid_ultrasound,2020-07-23,2022-12-29,8518,7988,012,12
14,gut_microbiome,2019-02-14,2022-12-28,10694,8838,013,13
17,human_genetics,2019-03-11,2022-12-21,8821,8821,014,14
10,ecg,2019-08-13,2022-12-29,9702,8085,015,15
2,blood_tests,2010-01-06,2022-12-29,29074,10252,016,16
6,cgm,2019-01-07,2022-12-31,104845,9431,017,17
23,medications,2018-10-18,2022-12-31,43417,10787,018,18
20,medical_conditions,2018-11-21,2022-12-31,22413,10792,021,21
4,bone_density,2020-06-09,2022-12-29,9032,8459,022,22
29,rna_seq,2021-02-28,2022-06-21,3958,3863,024,24
24,nightingale_metabolomics,2019-05-07,2022-08-02,1644,1552,029,29
8,covid,2021-04-22,2022-12-29,14988,9120,043,43
31,sex_specific_factors,2019-01-09,2022-12-31,9151,8759,044,44
26,participant_relation,2019-02-05,2022-12-29,3739,3106,045,45
22,medical_symptoms,2019-01-09,2022-12-31,9172,8719,049,49
21,medical_procedures,2020-02-26,2022-12-31,7572,7383,050,50
7,children,2020-02-26,2022-12-31,7416,7383,051,51
12,family_history,2019-01-09,2022-12-31,14861,9262,052,52
33,sociodemographics,2019-01-09,2022-12-31,14861,9262,053,53
18,lifestyle_and_environment,2019-01-09,2022-12-31,14861,9262,055,55
28,psychological_and_social_health,2019-01-09,2022-12-31,14861,9262,057,57
16,health_and_medical_history,2018-11-21,2022-12-31,14861,10197,058,58
25,oral_microbiome,2019-03-11,2022-12-21,8816,8816,070,70

In [71]:
# df_group1 = df_group.copy()
# df_group2 = df_group.copy()

In [75]:
# count_bucket_name = "pheno-master-data-collection-v1.2-prod-eu-west-1"
# output_path = f'{count_bucket_name}_{ver}_before_2023_{BEFORE_2023}_show_feature_{SHOW_FEATURE_SETS}.csv'
# df_group1.to_csv(output_path, index=False)

# count_bucket_name = "pheno-academic-collection-v1.2-prod-eu-west-1"
# output_path = f'{count_bucket_name}_{ver}_before_2023_{BEFORE_2023}_show_feature_{SHOW_FEATURE_SETS}.csv'
# df_group2.to_csv(output_path, index=False)

In [72]:
# df_group.to_csv('s3://ds-users/mariag/pheno_stage_data_collection_v1_2_count_converted_full_grouped.csv', index=False)
# df_group.to_csv('s3://ds-users/mariag/pheno_stage_data_collection_v1_2_count_converted_before2023_grouped.csv', index=False)
df_group.to_csv(output_path, index=False)

PermissionError: Access Denied

In [ ]:
if not SHOW_FEATURE_SETS: 
    df  = df_group.copy()
    # Reorder the columns
    df = df[['id', 'dataset',  'count_col_notna', 'nunique_participants_not_na', 'first_date', 'last_date']] #'feature_set',
else: 
    # Reorder the columns
    df = df[['id', 'dataset',  'feature_set', 'count_col_notna', 'nunique_participants_not_na', 'first_date', 'last_date']] 

# Combine 'count_col_notna' and 'nunique_participants_not_na' columns
df['data points (participants)'] = df['count_col_notna'].astype(str) + " (" + df['nunique_participants_not_na'].astype(str) + ")"

# Drop the original columns
df = df.drop(columns=['count_col_notna', 'nunique_participants_not_na'])
df.head()

,id,dataset,feature_set,first_date,last_date,data points (participants)
0,000,population,population,2018-12-05,2022-12-29,11179 (11179)
1,001,events,events,2018-12-05,2022-12-29,20773 (10466)
2,002,anthropometrics,anthropometrics,2018-11-22,2022-12-29,12963 (10419)
3,003,fundus,fundus,2021-02-17,2022-12-04,7079 (7049)
4,003,fundus,microvasculature,2021-02-17,2022-12-04,7079 (7049)

In [ ]:
df.tail()

,id,dataset,feature_set,first_date,last_date,data points (participants)
46,017,cgm,timeseries,2019-01-07,2022-12-30,9524 (9458)
47,017,cgm,iglu,2019-01-07,2022-12-31,9524 (9458)
48,017,cgm,iglu_daily,2019-01-07,2022-12-31,105149 (9458)
49,022,bone_density,bone_density,2020-06-09,2022-12-29,9052 (8477)
50,018,medications,medications,2018-10-18,2022-12-31,14308 (10159)

In [ ]:

# Reorder the columns
# df = df[['id', 'dataset', 'data points (participants)', 'first_date', 'last_date']]#'feature_set',

# Remove '_' from column names
df.columns = df.columns.str.replace('_', ' ')

# Add 'tabular data' column with "✓" for all rows
df['tabular data'] = '✓'

# Add 'time series data' column with "✓" for specified rows
df['time series data'] = ''
df.loc[df['dataset'] == 'diet logging', 'time series data'] = '✓'
df.loc[(df['dataset'].isin(['sleep', 'ecg', 'cgm'])), 'time series data'] = '✓'

# Add 'image data' column with "✓" for specified rows
df['image data'] = ''
df.loc[(df['dataset'] == 'fundus') , 'image data'] = '✓'

In [ ]:
# Convert each value in the 'dataset' column to a link
df['dataset'] = df.apply(lambda row: f'[{row["dataset"]}](datasets/{row["id"]}-{row["dataset"]}.html)', axis=1)

# Convert the DataFrame to a markdown table
markdown_table = df.to_markdown(index=False)

In [ ]:
stop!

SyntaxError: invalid syntax (3319058519.py, line 1)

In [ ]:

# Save the markdown table to a .md file
with open('datasets.md', 'w') as f:
    f.write(markdown_table)
    f.write('\n\n')
    f.write(': Available Datasets {.striped .hover tbl-colwidths="[5, 37, 20 ,20, 20, 5, 5, 5]"}')
    
# Check the first few lines of the markdown table
print('\n'.join(markdown_table.split('\n')[:10]))

|   id | dataset                                                                              | first date   | last date   | data points (participants)   | tabular data   | time series data   | image data   |
|-----:|:-------------------------------------------------------------------------------------|:-------------|:------------|:-----------------------------|:---------------|:-------------------|:-------------|
|  000 | [population](datasets/000-population.html)                                           | 2018-12-05   | 2022-12-29  | 10434 (10434)                | ✓              |                    |              |
|  001 | [events](datasets/001-events.html)                                                   | 2018-12-05   | 2022-12-29  | 20723 (10434)                | ✓              |                    |              |
|  002 | [anthropometrics](datasets/002-anthropometrics.html)                                 | 2018-11-22   | 2022-12-29  | 12925 (10387)                | ✓              |                    |              |
|  003 | [fundus](datasets/003-fundus.html)                                                   | 2021-02-17   | 2022-12-04  | 7068 (7038)                  | ✓              |                    | ✓            |
|  004 | [liver_ultrasound](datasets/004-liver_ultrasound.html)                               | 2020-02-20   | 2022-12-29  | 26684 (8229)                 | ✓              |                    |              |
|  005 | [diet_logging](datasets/005-diet_logging.html)                                       | 2019-09-01   | 2022-12-31  | 5924216 (10003)              | ✓              |                    |              |
|  006 | [hand_grip](datasets/006-hand_grip.html)                                             | 2018-12-27   | 2022-12-29  | 12894 (10371)                | ✓              |                    |              |
|  007 | [blood_pressure](datasets/007-blood_pressure.html)                                   | 2018-12-27   | 2022-12-29  | 12946 (10398)                | ✓              |                    |              |

In [ ]:
print('\n'.join(markdown_table.split('\n')[:20]))

|   id | dataset                                                                              | first date   | last date   | data points (participants)   | tabular data   | time series data   | image data   |
|-----:|:-------------------------------------------------------------------------------------|:-------------|:------------|:-----------------------------|:---------------|:-------------------|:-------------|
|  000 | [population](datasets/000-population.html)                                           | 2018-12-05   | 2022-12-29  | 10434 (10434)                | ✓              |                    |              |
|  001 | [events](datasets/001-events.html)                                                   | 2018-12-05   | 2022-12-29  | 20723 (10434)                | ✓              |                    |              |
|  002 | [anthropometrics](datasets/002-anthropometrics.html)                                 | 2018-11-22   | 2022-12-29  | 12925 (10387)                | ✓              |                    |              |
|  003 | [fundus](datasets/003-fundus.html)                                                   | 2021-02-17   | 2022-12-04  | 7068 (7038)                  | ✓              |                    | ✓            |
|  004 | [liver_ultrasound](datasets/004-liver_ultrasound.html)                               | 2020-02-20   | 2022-12-29  | 26684 (8229)                 | ✓              |                    |              |
|  005 | [diet_logging](datasets/005-diet_logging.html)                                       | 2019-09-01   | 2022-12-31  | 5924216 (10003)              | ✓              |                    |              |
|  006 | [hand_grip](datasets/006-hand_grip.html)                                             | 2018-12-27   | 2022-12-29  | 12894 (10371)                | ✓              |                    |              |
|  007 | [blood_pressure](datasets/007-blood_pressure.html)                                   | 2018-12-27   | 2022-12-29  | 12946 (10398)                | ✓              |                    |              |
|  008 | [serum_lipidomics](datasets/008-serum_lipidomics.html)                               | 2019-02-19   | 2021-08-08  | 6321 (6144)                  | ✓              |                    |              |
|  009 | [sleep](datasets/009-sleep.html)                                                     | 2020-01-15   | 2022-12-27  | 21589 (7132)                 | ✓              | ✓                  |              |
|  010 | [vascular_health](datasets/010-vascular_health.html)                                 | 2018-12-27   | 2022-12-29  | 11387 (9729)                 | ✓              |                    |              |
|  011 | [body_composition](datasets/011-body_composition.html)                               | 2020-06-09   | 2022-12-29  | 8990 (8411)                  | ✓              |                    |              |
|  012 | [carotid_ultrasound](datasets/012-carotid_ultrasound.html)                           | 2020-07-23   | 2022-12-29  | 8518 (7988)                  | ✓              |                    |              |
|  013 | [gut_microbiome](datasets/013-gut_microbiome.html)                                   | 2019-02-14   | 2022-12-28  | 10694 (8838)                 | ✓              |                    |              |
|  014 | [human_genetics](datasets/014-human_genetics.html)                                   | 2019-03-11   | 2022-12-21  | 8821 (8821)                  | ✓              |                    |              |
|  015 | [ecg](datasets/015-ecg.html)                                                         | 2019-08-13   | 2022-12-29  | 9702 (8085)                  | ✓              | ✓                  |              |
|  016 | [blood_tests](datasets/016-blood_tests.html)                                         | 2010-01-06   | 2022-12-29  | 29074 (10252)                | ✓              |                    |              |
|  017 | [cgm](datasets/017-cgm.html)                                                         | 2019-01-07   | 2022-12-31  | 104845 (9431)                | ✓              | ✓                  |              |

In [ ]:
print('\n'.join(markdown_table.split('\n')[-20:]))

|  016 | [blood_tests](datasets/016-blood_tests.html)                                         | 2010-01-06   | 2022-12-29  | 29074 (10252)                | ✓              |                    |              |
|  017 | [cgm](datasets/017-cgm.html)                                                         | 2019-01-07   | 2022-12-31  | 104845 (9431)                | ✓              | ✓                  |              |
|  018 | [medications](datasets/018-medications.html)                                         | 2018-10-18   | 2022-12-31  | 43417 (10787)                | ✓              |                    |              |
|  021 | [medical_conditions](datasets/021-medical_conditions.html)                           | 2018-11-21   | 2022-12-31  | 22413 (10792)                | ✓              |                    |              |
|  022 | [bone_density](datasets/022-bone_density.html)                                       | 2020-06-09   | 2022-12-29  | 9032 (8459)                  | ✓              |                    |              |
|  024 | [rna_seq](datasets/024-rna_seq.html)                                                 | 2021-02-28   | 2022-06-21  | 3958 (3863)                  | ✓              |                    |              |
|  029 | [nightingale_metabolomics](datasets/029-nightingale_metabolomics.html)               | 2019-05-07   | 2022-08-02  | 1644 (1552)                  | ✓              |                    |              |
|  043 | [covid](datasets/043-covid.html)                                                     | 2021-04-22   | 2022-12-29  | 14988 (9120)                 | ✓              |                    |              |
|  044 | [sex_specific_factors](datasets/044-sex_specific_factors.html)                       | 2019-01-09   | 2022-12-31  | 9151 (8759)                  | ✓              |                    |              |
|  045 | [participant_relation](datasets/045-participant_relation.html)                       | 2019-02-05   | 2022-12-29  | 3739 (3106)                  | ✓              |                    |              |
|  049 | [medical_symptoms](datasets/049-medical_symptoms.html)                               | 2019-01-09   | 2022-12-31  | 9172 (8719)                  | ✓              |                    |              |
|  050 | [medical_procedures](datasets/050-medical_procedures.html)                           | 2020-02-26   | 2022-12-31  | 7572 (7383)                  | ✓              |                    |              |
|  051 | [children](datasets/051-children.html)                                               | 2020-02-26   | 2022-12-31  | 7416 (7383)                  | ✓              |                    |              |
|  052 | [family_history](datasets/052-family_history.html)                                   | 2019-01-09   | 2022-12-31  | 14861 (9262)                 | ✓              |                    |              |
|  053 | [sociodemographics](datasets/053-sociodemographics.html)                             | 2019-01-09   | 2022-12-31  | 14861 (9262)                 | ✓              |                    |              |
|  055 | [lifestyle_and_environment](datasets/055-lifestyle_and_environment.html)             | 2019-01-09   | 2022-12-31  | 14861 (9262)                 | ✓              |                    |              |
|  057 | [psychological_and_social_health](datasets/057-psychological_and_social_health.html) | 2019-01-09   | 2022-12-31  | 14861 (9262)                 | ✓              |                    |              |
|  058 | [health_and_medical_history](datasets/058-health_and_medical_history.html)           | 2018-11-21   | 2022-12-31  | 14861 (10197)                | ✓              |                    |              |
|  070 | [oral_microbiome](datasets/070-oral_microbiome.html)                                 | 2019-03-11   | 2022-12-21  | 8816 (8816)                  | ✓              |                    |              |
|  100 | [curated_phenotypes](datasets/100-curated_phenotypes.html)                           | 2018-12-05   | 2022-12-29  | 20723 (10434)                | ✓              |                    |              |